
<script>
import Vue from "vue";

export default {
  data: () => ({
    title: "",
  }),
  mounted() {},
  methods: {
    kembali() {
      this.$router.push(`/homepage`).catch(() => {});
    },
  },
};
</script>

<template>
  <div class="">
    <div
      @click="kembali()"
      class="d-flex flex-row mb-2 align-items-center"
      style="cursor: pointer"
    >
      <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>
      <span> Kembali</span>
    </div>
    {{ this.$router.currentRoute.name }}
  </div>
</template>

<style lang="scss">
</style>
