
<script>
import Vue from "vue";
import HorizontalTimeline from "../components/HorizontalTimeline.vue";
import HorizontalTimelineHeader from "../components/HorizontalTimelineHeader.vue";
import dataBab from "./file-json/data-bab.json";
import dataPendahuluan from "./file-json/bab-pendahuluan.json";
import dataFundamental from "./file-json/bab-fundamental.json";
import dataOop from "./file-json/bab-oop.json";
import dataLanjutan from "./file-json/bab-lanjutan.json";
import dataPenutup from "./file-json/bab-penutup.json";

export default {
  components: {
    HorizontalTimeline,
    HorizontalTimelineHeader,
  },
  data: () => ({
    title: "",
    dataBab: dataBab,
    dataFundamental: dataFundamental,
    dataPendahuluan: dataPendahuluan,
    dataOop: dataOop,
    dataLanjutan: dataLanjutan,
    dataPenutup: dataPenutup,
  }),
  created() {
    this.title = this.$router.currentRoute.params.title;
  },
  methods: {
    kembali() {
      this.$router.push(`/homepage`).catch(() => {});
    },
  },
  computed: {
    isLastUpdate() {
      return {
        background:
          "linear-gradient(90deg, rgba(0, 120, 215, 0.6) 0%, #0078D7 100%)",
      };
    },
  },
};
</script>

<template>
  <div class="" style="">
    <div class="d-flex flex-row mb-2 align-items-center">
      <i
        style="cursor: pointer"
        @click="kembali()"
        class="fa fa-arrow-left mr-1"
        aria-hidden="true"
      ></i>
      <span style="cursor: pointer" @click="kembali()"> Kembali</span>
    </div>

    <div class="card align-items-center justify-content-center p-2">
      <span class="title" style="font-size: 22px">{{ title }}</span>
    </div>
    <div
      class="
        card
        d-flex
        flex-row
        align-items-center
        justify-content-between
        p-3
      "
      style="margin-top: -1em; background: #34a853"
    >
      <span class="text-white">Uji skill dan kemampuan</span>
      <div class="align-items-center">
        <button class="custom-button btn-success mr-1">Latihan Praktik</button>
        <button class="custom-button btn-success">Ujian Praktik</button>
      </div>
    </div>

    <div
      class="d-flex flex-row align-items-center justify-content-between"
      style="margin-top: -1em"
    >
      <div class="d-flex flex-row w-75 align-items-center">
        <div class="w-75">
          <div
            class="form-control d-flex flex-row align-items-center"
            style="height: 35px"
          >
            <input
              type="text"
              class="custom-input"
              id="search"
              placeholder="Search"
            />
            <i class="fa fa-search fa-lg"> </i>
          </div>
        </div>
        <div class="w-25 d-flex flex-row justify-content-end">
          <button
            class="d-flex flex-row custom-button button-filter"
            style="max-width: 120px"
          >
            <span>Filter</span>
            <img class="icon" src="img/icons/filter.png" alt="icon" />
          </button>
        </div>
      </div>
      <div class="d-flex flex-row w-25 align-items-center justify-content-end">
        <button
          class="d-flex flex-row custom-button button-download"
          style="max-width: 170px"
        >
          <img class="icon" src="img/icons/download.png" alt="icon" />
          <span>Download Materi</span>
        </button>
      </div>
    </div>

    <div class="card card-rounded mt-3"  :style="dataBab.terakhirDipelajari && isLastUpdate">
      <horizontal-timeline-header :lastStudied="dataBab.terakhirDipelajari" :data="dataBab"> </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataBab.listData"
        :lastStudied="dataBab.terakhirDipelajari"
        :linked="'Detail Bab'"
      >
      </horizontal-timeline>
    </div>

    <div class="mb-2" style="margin-top: -15px">Terakhir di pelajari</div>
    <div
      class="card card-rounded"
      :style="dataFundamental.terakhirDipelajari && isLastUpdate"
    >
      <horizontal-timeline-header :lastStudied="dataFundamental.terakhirDipelajari" :data="dataFundamental">
      </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataFundamental.listData"
        :lastStudied="dataFundamental.terakhirDipelajari"
      >
      </horizontal-timeline>
    </div>
    <div class="divider w-100" style="margin-top: -15px"></div>

    <div
      class="card card-rounded mt-3"
      :style="dataPendahuluan.terakhirDipelajari && isLastUpdate"
    >
      <horizontal-timeline-header :lastStudied="dataPendahuluan.terakhirDipelajari" :data="dataPendahuluan">
      </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataPendahuluan.listData"
        :lastStudied="dataPendahuluan.terakhirDipelajari"
      >
      </horizontal-timeline>
    </div>

    <div
      class="card card-rounded mt-3"
      :style="dataOop.terakhirDipelajari && isLastUpdate"
    >
      <horizontal-timeline-header :lastStudied="dataOop.terakhirDipelajari" :data="dataOop">
      </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataOop.listData"
        :lastStudied="dataOop.terakhirDipelajari"
      >
      </horizontal-timeline>
    </div>

    <div
      class="card card-rounded mt-3"
      :style="dataLanjutan.terakhirDipelajari && isLastUpdate"
    >
      <horizontal-timeline-header :lastStudied="dataLanjutan.terakhirDipelajari" :data="dataLanjutan">
      </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataLanjutan.listData"
        :lastStudied="dataLanjutan.terakhirDipelajari"
      >
      </horizontal-timeline>
    </div>

    <div
      class="card card-rounded mt-3"
      :style="dataPenutup.terakhirDipelajari && isLastUpdate"
    >
      <horizontal-timeline-header :lastStudied="dataPenutup.terakhirDipelajari" :data="dataPenutup">
      </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataPenutup.listData"
        :lastStudied="dataPenutup.terakhirDipelajari"
      >
      </horizontal-timeline>
    </div>
  </div>
</template>

<style lang="scss">
.custom-button {
  border: none;
  height: 35px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.btn-success:hover {
  background: azure;
  box-shadow: azure;
}

.btn-success:focus {
  background: azure;
  box-shadow: azure;
}

.btn-success {
  background: #fff;
  border: 1px solid #34a853;
  color: #34a853;
  font-weight: bold;
  padding: 0.3em 1em 0.3em 1em;
}

.button-filter {
  background: #fff;
  border: 1px solid #ced4da;
  color: #ced4da;
  padding: 0.3em 1em 0.3em 1em;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.button-download {
  background: #0078d7;
  border: 1px solid #0078d7;
  color: #fff;
  padding: 0.3em 1em 0.3em 1em;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.custom-button:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.1);
}
</style>
