
<script>
import Vue from "vue";
import HorizontalTimeline from "../components/HorizontalTimeline.vue";
import HorizontalTimelineHeader from "../components/HorizontalTimelineHeader.vue";
import dataFundamental from "./file-json/bab-fundamental.json";

export default {
  components: {
    HorizontalTimeline,
    HorizontalTimelineHeader,
  },
  data: () => ({
    title: "",
    dataFundamental: dataFundamental,
    visible: true,
    column: [
      { name: "Judul" },
      { name: "Materi Video" },
      { name: "Durasi" },
      { name: "Progress" },
    ],
    rows: [
      {judul: 'Penjelasan', materiVideo: '5', durasi: '13:00', progress: 100, action: true},
      {judul: 'Setup', materiVideo: '5', durasi: '13:00', progress: 100, action: true},
      {judul: 'Penjelasan', materiVideo: '5', durasi: '13:00', progress: 100, action: true}
    ]
  }),
  created() {
    // dataFundamental.map(d => {
    //   console.log('terakhirDipelajari', d.terakhirDipelajari)
    //   // d.terakhirDipelajari = false
    // })
  },
  mounted() {},
  methods: {
    kembali() {
      this.$router.go(-1);
    },
  },
};
</script>

<template>
  <div class="">
    <div
      @click="kembali()"
      class="d-flex flex-row mb-2 align-items-center"
      style="cursor: pointer"
    >
      <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>
      <span> Kembali</span>
    </div>

    <div class="card card-rounded">
      <horizontal-timeline-header :data="dataFundamental" :lastStudied="false">
      </horizontal-timeline-header>
      <horizontal-timeline
        :datas="dataFundamental.listData"
        :lastStudied="false"
      >
      </horizontal-timeline>
    </div>

    <div class="card card-rounded pl-3 pr-3 pt-1">
      <div class="flex-row d-flex align-items-center justify-content-between">
        <span class="title" style="font-size: 2.5vh">SubBab</span>
        <div
          @click="visible = !visible"
          style="cursor: pointer"
          class="flex-row d-flex align-items-center justify-content-between"
        >
          <i :class="[visible ? 'fa fa-chevron-up' : 'fa fa-chevron-down']"></i>
        </div>
      </div>
      <div class="collapse show" v-show="visible" id="collapseExample">
        <div
          class="divider light"
          style="height: 1.5px; background: #263238; width: 100%"
        />
        <div class="">
          <table class="table">
            <thead>
              <tr>
                <th scope="row" v-for="item in column" v-bind:key="item.id">
                  <div>
                    <span>{{ item.name }}</span>
                    <i
                      :class="[
                        visible ? 'fa fa-chevron-up' : 'fa fa-chevron-down',
                      ]"
                    ></i>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
</style>
