
<script>
import Vue from "vue";

export default {
  data: () => ({
    items: [
      { id: "1", title: "Java", bab: "31", url: "img/Java.png" },
      { id: "2", title: "React", bab: "31", url: "img/react.png" },
      { id: "3", title: "Python", bab: "31", url: "img/python.png" },
    ],
  }),
  created() {},
  methods: {
    clikItems(data) {
      this.$router.push({
        name: "Daftar Bab",
        params: { id: data.id, title: data.title },
      });
      // this.$router.push({ path: `/daftar-bab/${title}`, params: {id: title, data: title} });
    },
  },
};
</script>

<template>
  <div class="d-flex flex-column align-items-sm-center align-items-lg-start h-100">
    <span style="font-weight: bold; font-size: 24px">Homepage</span>
    <div class="form-control d-flex flex-row align-items-center mt-3" style="width: 50%">
      <input
        type="text"
        class="custom-input"
        id="search"
        placeholder="Search"
      />
      <i class="fa fa-search fa-lg"> </i>
    </div>

    <div class="row justify-content-center">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-5"
        v-for="item in items"
        v-bind:key="item.message"
        style="min-height: 350px; max-height: 450px"
      >
        <div class="card-items">
          <img class="img-items" :src="item.url" alt="ava" />
          <div class="content-items">
            <span class="content-title">
              {{ item.title }}
            </span>
            <div class="d-flex flex-row align-items-center mt-2">
              <img class="icon mr-3" src="img/icons/library.png" alt="icon" />
              <span class="content-bab">
                {{ item.bab }}
              </span>
              <span class="ml-1"> Bab </span>
            </div>

            <button
              @click="clikItems(item)"
              class="btn btn-primary w-75 align-self-center p-1 mt-3"
            >
              Pilih Topik
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
</style>
