
<script>
import Vue from "vue";

export default {
  data: () => ({
    starttime: 4,
    endtime: 8,
    bgVideo: require("../assets/video/79video.mp4"),
    listVideo: [
      {
        name: "Part 1",
        startTime: 0,
        endTime: 10,
      },
      {
        name: "Part 2",
        startTime: 11,
        endTime: 25,
      },
      {
        name: "Part 3",
        startTime: 26,
        endTime: 49,
      },
      {
        name: "Part 4",
        startTime: 50,
        endTime: 80,
      },
    ],
  }),
  created() {
    console.log("starttime", this.starttime);
  },
  methods: {
    changeVideo(item) {
      this.starttime = item.startTime;
      this.endtime = item.endTime;
      this.playVideo();
    },
    playVideo() {
      var video = document.getElementById("player1");
      console.log("video", video);
      video.addEventListener(
        "timeupdate",
        () => {
          console.log("starttime", this.starttime);
          console.log("currentTime", video.currentTime);
          console.log("endtime", this.endtime);
          if (video.currentTime >= this.endtime) {
            video.pause();
            this.endtime = video.duration;
          }
        },
        false
      );

      video.load();
      video.play();
      try {
        video.currentTime = this.starttime;
      } catch (ex) {}
    },
    convertTime(time) {
      let dividedValue = time % 60;
      const newTime = Math.floor(time / 60);
      if (dividedValue > 0 && dividedValue < 10) {
        dividedValue = `0${dividedValue}`;
      }
      return `${newTime.toString().length === 1 ? `0${newTime}` : newTime}:${
        dividedValue ? dividedValue : "00"
      }`;
    },
  },
};
</script>

<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="card">
            <div class="header text-center">
              <h4 class="title">LATIHAN</h4>
              <br />
            </div>
            <div class="header text-left">
              <div v-for="item in listVideo" :key="item.name">
                <button class="btn btn-primary m-1" @click="changeVideo(item)">
                  {{ item.name }}
                </button>
                <span class="ml-2">
                  {{ convertTime(item.startTime) }} -
                  {{ convertTime(item.endTime) }}
                </span>
              </div>
            </div>
            <div class="w-50">
              <video id="player1" width="500" :key="bgVideo" controls="true">
                <source :src="bgVideo" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.upgrade-table-btn {
  width: 160px;
  &:first-child {
    margin-right: 10px;
  }
}
</style>
