
<script>
import Vue from "vue";
let button = document.getElementById("play");
let video = document.getElementById("video");
let startTime = 2;
let endTime = 5;

// button.addEventListener("click", playVideo, !1);

export default {
  created() {},
  data() {
    return {
      bgVideo: require("../assets/video/1.mp4"),
      listVideo: [
        {
          name: "1",
          url: require("../assets/video/1.mp4"),
        },
        {
          name: "2",
          url: require("../assets/video/2.mp4"),
        },
        {
          name: "3",
          url: require("../assets/video/3.mp4"),
        },
        {
          name: "4",
          url: require("../assets/video/4.mp4"),
        },
      ],
    };
  },
  mounted() {
    // this.$el.addEventListener('click', playVideo, !1);
  },
  methods: {
    changeVideo(url) {
      console.log("url", url);
      this.bgVideo = url;
    },
    playVideo() {
      if (video.currentTime >= endTime) {
        video.pause();
      } else {
        /* call checkTime every 1/10th 
              second until endTime */
        setTimeout(checkTime, 100);
      }
      video.currentTime = startTime;
      video.play();
      checkTime();
    },
    checkTime() {
      if (video.currentTime >= endTime) {
        video.pause();
      } else {
        /* call checkTime every 1/10th 
              second until endTime */
        setTimeout(checkTime, 100);
      }
    },
  },
};
</script>

<template>
  <div class="container">
    <ul class="align-items-center">
      <li class="bg-primary">
        <span></span>
        <div>
          <div class="title">Codify</div>
          <div class="info">Let's make coolest things in css</div>
          <div class="type">Prensetation</div>
        </div>
      </li>
      <li>
        <span></span>
        <div>
          <div class="title">Codify</div>
          <div class="info">Let's make coolest things in javascript</div>
          <div class="type">Prensetation</div>
        </div>
      </li>
      <li>
        <span></span>
        <div>
          <div class="title">Codify</div>
          <div class="info">Let's make coolest things in css</div>
          <div class="type">Review</div>
        </div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
// body {
//   height: 100vh;
//   font-family: "Open Sans", sans-serif;
//   background: #bea2e7;
//   background: -moz-linear-gradient(
//     top,
//     #bea2e7 0%,
//     #86b7e7 100%
//   );
//   background: -webkit-linear-gradient(
//     top,
//     #bea2e7 0%,
//     #86b7e7 100%
//   );
//   background: linear-gradient(
//     to bottom,
//     #bea2e7 0%,
//     #86b7e7 100%,
//   );
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );
// }
.container ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: #fff;
  font-size: 13px;
}
.container ul:before {
  content: "";
  width: 1px;
  // height: 0%;
  position: absolute;
  border-left: 4px solid #fff;
}

.container ul li {
  position: relative;
  margin-left: 30px;
  // background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child) {
  // margin-top: 60px;
}
.container ul li > span {
  width: 4px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li:last-child > span {
  width: 4px;
  height: 50%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li > span:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -8px;
  top: 50px;
}
.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;
}
.container div .title,
.container div .type {
  font-weight: 600;
  font-size: 12px;
}
.container div .info {
  font-weight: 300;
}
.container div > div {
  // margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}

.upgrade-table-btn {
  width: 160px;
  &:first-child {
    margin-right: 10px;
  }
}
</style>
