
<script>
import Vue from "vue";
import SideImage from "./SideImage.vue";
import GoogleLogin from "vue-google-login";
import config from "../service/config";

export default {
  components: {
    SideImage,
    GoogleLogin,
  },
  data: () => ({
    params: {
      client_id: `${config.clientId.development}`,
    },
    renderParams: {
      width: 250,
      height: 50,
    },
    visiblePassword: false,
  }),
  created() {
    console.log("test");
  },
  methods: {
    redirectToRegister() {
      this.$router.push({ path: "/registrasi" });
    },
    onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var token = googleUser.getAuthResponse().id_token;

      localStorage.setItem("token", token);
      localStorage.setItem("email", profile.getEmail());
      // this.loginByEmail();
    },
    loginEmail() {
      console.log("masuk");
      localStorage.setItem("sessionToken", "active");
      this.$router.push({ path: "/homepage" });
    },
    showPassword() {
      this.visiblePassword = !this.visiblePassword;
    },
  },
};
</script>

<template>
  <section style="background-color: #003399; min-height: 100vh">
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="col col-xl-12 m-3">
          <div class="card-rounded">
            <div class="row">
              <side-image></side-image>
              <div class="col-md-6 col-lg-6 align-items-center pl-5 pr-5">
                <div class="card-body text-black mt-5">
                  <form>
                    <p class="title">
                      Yuk, masuk ke akun Digital Bootcamp 79 Kamu!!
                    </p>
                    <span class="font">Username/E-mail</span>
                    <input
                      type="email"
                      class="form-control"
                      id="Username/E-mail"
                      placeholder="Username/E-mail"
                    />
                    <!-- <span class="font">Kata Sandi</span>
                    <input
                      type="text"
                      class="form-control"
                      id="KataSandi"
                      placeholder="Kata Sandi"
                    /> -->
                    <div
                      class="
                        form-control
                        d-flex
                        flex-row
                        align-items-center
                        w-100
                        mt-3
                      "
                    >
                      <input
                        :type="[this.visiblePassword ? 'text' : 'password']"
                        class="custom-input"
                        id="KataSandi"
                        placeholder="Kata Sandi"
                      />
                      <i
                        style="cursor: pointer"
                        @click="showPassword()"
                        :class="[
                          'fa',
                          this.visiblePassword ? 'fa fa-eye' : 'fa-eye-slash',
                        ]"
                      ></i>
                    </div>
                    <div
                      class="align-items-center d-flex justify-content-end mt-1"
                    >
                      <span
                        @click="
                          () => this.$router.push({ path: '/lupa-password' })
                        "
                        class="back-button"
                        style="font-weight: 700"
                        >Lupa Kata Sandi</span
                      >
                    </div>
                    <button
                      @click="loginEmail()"
                      type="button"
                      class="button btn-block button-masuk"
                    >
                      Masuk
                    </button>

                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <span class="font label">About</span>
                      <span class="font label">Contact</span>
                    </div>
                    <div
                      @click="$router.go(-1)"
                      class="
                        d-flex
                        row
                        mt-4
                        align-items-center
                        justify-content-center
                        back-button
                      "
                    >
                      <i class="fa fa-angle-double-left"></i>
                      <span>Kembali</span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
.back-button {
  cursor: pointer;
  color: #003399;
  font-size: 12px;
  font-weight: 500;
}

.custom-input {
  width: 100%;
  border: none;
  padding-right: 10px;
  --placeholder-color: #ced4da;
}

.custom-input::placeholder {
  color: var(--placeholder-color);
}
</style>
