
<script>
import Vue from "vue";
import SideImage from "./SideImage.vue";
import GoogleLogin from "vue-google-login";
import config from "./../service/config";

export default {
  components: {
    SideImage,
    GoogleLogin,
  },
  data: () => ({
    params: {
      client_id: `${config.clientId.development}`,
    },
    renderParams: {
      width: 250,
      height: 50,
    },
    username: "",
    validate: false,
  }),
  created() {
    console.log("test");
  },
  methods: {
    redirectToRegister() {
      this.$router.push({ path: "/registrasi" });
    },
    onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var token = googleUser.getAuthResponse().id_token;

      localStorage.setItem("token", token);
      localStorage.setItem("email", profile.getEmail());
      // this.loginByEmail();
    },
    loginWithEmail() {
      if (this.username === 'test') {
        this.validate = true;
        this.$router.push({ path: "/login-with-email" });
      } else {
        this.validate = false;
      }
    },
    handleChange() {
      console.log("masuk", this.username);
      if (this.username.length > 0) {
        this.validate = true;
      } else {
        this.validate = false;
      }
    },
  },
};
</script>

<template>
  <section style="background-color: #003399; min-height: 100vh">
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="col col-xl-12 m-3">
          <div class="card-rounded">
            <div class="row">
              <side-image></side-image>
              <div class="col-md-6 col-lg-6 align-items-center pl-5 pr-5">
                <div class="card-body text-black mt-5">
                  <form class="needs-validation">
                    <p class="title">
                      Yuk, masuk ke akun Digital Bootcamp 79 Kamu!!
                    </p>
                    <span class="font">Username/E-mail</span>
                    <input
                      type="email"
                      :class="[
                        'form-control',
                        this.username.length === 0 && !this.validate
                          ? ''
                          : this.validate
                          ? 'is-valid'
                          : 'is-invalid',
                      ]"
                      id="Username/E-mail"
                      placeholder="Username/E-mail"
                      v-model="username"
                      v-on:input="handleChange()"
                      required
                    />
                    <div
                      :v-if="this.username.length === 0 ? '' : this.validate"
                      id="validation"
                      class="invalid-feedback"
                    >
                      Please using "test" to Login
                    </div>
                    <button
                      @click="loginWithEmail()"
                      type="button"
                      class="button btn-block button-masuk"
                      :disabled="!this.username"
                    >
                      Masuk
                    </button>
                    <div
                      class="
                        d-flex
                        mt-2
                        align-items-center
                        justify-content-center
                      "
                    >
                      <div class="divider"></div>
                      <span class="pl-2 pr-2 font text-center"
                        >Atau masuk melalui</span
                      >
                      <div class="divider"></div>
                    </div>
                    <GoogleLogin
                      class="button btn-block button-google mt-4"
                      id="google-button"
                      :params="params"
                      :onSuccess="onSignIn"
                    >
                      <img src="img/logo-google.png" width="20" alt="" />
                      <span class="ml-2">Continue with Google</span>
                    </GoogleLogin>
                    <div
                      class="
                        d-flex
                        mt-3
                        align-items-center
                        justify-content-center
                      "
                    >
                      <span class="font">Belum punya akun?</span>
                      <span
                        class="pl-2 font label"
                        @click="redirectToRegister()"
                        >Daftar di sini</span
                      >
                    </div>
                    <div
                      class="
                        d-flex
                        mt-4
                        align-items-center
                        justify-content-between
                      "
                    >
                      <span class="font label">About</span>
                      <span class="font label">Contact</span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.form-control {
  font-size: 14px;
}

.card-rounded {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0px;
}

.button {
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.1);
}

.button:hover:enabled {
  color: #fff;
  filter: brightness(90%);
  border-color: #0062cc;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.button:focus,
.button.focus:enabled {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.button:disabled,
.button:disabled {
  background-color: #c0c4c9;
  border-color: #adb7c2;
}

.button-masuk {
  background-color: #0078d7;
}
.button-google {
  background-color: #5d5fef;
  align-items: center;
  justify-content: center;
  display: flex;
}
.divider {
  background-color: #000000;
  width: 25%;
  height: 2px;
  border-radius: 20px;
}
.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
}
.font {
  font-size: 12px;
}
.label {
  font-weight: bold;
  color: #fbbc04;
  cursor: pointer;
  line-height: 24px;
}
</style>
