
<script>
import Vue from "vue";
import SideImage from "./SideImage.vue";

export default {
  components: {
    SideImage,
  },
  created() {},
};
</script>

<template>
  <section style="background-color: #003399; min-height: 100vh">
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="col col-xl-12 m-3">
          <div class="card-rounded">
            <div class="row">
              <side-image></side-image>
              <div class="col-md-6 col-lg-6 align-items-center pl-5 pr-5">
                <div class="card-body text-black mt-5">
                  <form>
                    <p class="title text-center">Lupa Kata Sandi</p>
                    <span class="font">Username/E-mail</span>
                    <input
                      type="email"
                      class="form-control"
                      id="Username/E-mail"
                      placeholder="Username/E-mail"
                    />
                    <button
                      @click="$router.go(-1)"
                      type="button"
                      class="button btn-block button-masuk"
                    >
                      Prosess
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
</style>
