
<script>
import Vue from "vue";
import SideImage from "./SideImage.vue";

export default {
  components: {
    SideImage,
  },
  created() {},
};
</script>

<template>
  <section style="background-color: #003399; min-height: 100vh">
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="col col-xl-12 m-3">
          <div class="card-rounded">
            <div class="row">
              <side-image></side-image>
              <div class="col-md-6 col-lg-6 align-items-center pl-5 pr-5">
                <div class="card-body text-black mt-3">
                  <form>
                    <p class="title text-center">Registrasi Akun Baru</p>
                    <span class="font">Username/E-mail</span>
                    <input
                      type="email"
                      class="form-control"
                      id="Username/E-mail"
                      placeholder="Username/E-mail"
                    />

                    <span class="font">Nama Lengkap</span>
                    <input
                      type="text"
                      class="form-control"
                      id="NamaLengkap"
                      placeholder="Nama Lengkap"
                      required
                    />

                    <span class="font">Nomor Telepon</span>
                    <div class="input-group mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">62</div>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nomor Telepon"
                      />
                    </div>

                    <span class="font">Kata Sandi</span>
                    <input
                      type="password"
                      class="form-control"
                      id="Kata Sandi"
                      placeholder="Kata Sandi"
                    />

                    <span class="font">Konfirmasi Kata Sandi</span>
                    <input
                      type="password"
                      class="form-control"
                      id="konfirmasi Kata Sandi"
                      placeholder="Konfirmasi Kata Sandi"
                    />

                    <div class="d-flex flex-row mt-2">
                      <input
                        type="checkbox"
                        value=""
                        style="width: 22px; height: 22px; margin-top: -2px"
                      />
                      <span class="font-privacy ml-1 p-0">
                        Dengan menekan tombol dibawah ini, kamu menyetujui
                        <span class="redirect">Kebijakan Privasi</span>
                        serta
                        <span class="redirect">Kondisi dan Ketentuan </span>
                        tim Digital Bootcamp 79
                      </span>
                    </div>
                    <button
                      @click="$router.go(-1)"
                      type="button"
                      class="button btn-block button-daftar"
                    >
                      Daftar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
.font-privacy {
  font-size: 11px;
  text-align: justify;
  // line-height: 24px;
}

.redirect {
  font-size: 11px;
  text-align: justify;
  color: #0078d7;
  cursor: pointer;
}

.button-daftar {
  background-color: #0078d7;
}
</style>
