
<script>
import Vue from "vue";

export default {};
</script>

<template>
  <div class="col-md-6 col-lg-6 p-0 d-none d-md-flex">
    <img
      src="img/bg-login.png"
      alt="login form"
      class="img-fluid bg-image"
      style="border-radius: 1rem 0 0 1rem"
    />
    <img class="logo-79" src="img/logo79.png" alt="" />
    <span class="label-79">Digital Bootcamp 79</span>
  </div>
</template>
<style lang="scss">

.bg-image {
  filter: brightness(25%);
}
.logo-79 {
  position: absolute;
  width: 30%;
  left: 13%;
  top: 33%;
}
.label-79 {
  position: absolute;
  font-weight: 600;
  font-size: 22px;
  left: 13%;
  top: 43%;
  color: #ffffff;
}
</style>
