
<script>
export default {
  props: {
    data: Object,
    lastStudied: Boolean,
  },
  created() {},
  methods: {},
  computed: {
    customColor() {
      return {
        color: "white",
      };
    },
  },
};
</script>

<template>
  <div class="d-flex flex-column" :style="this.lastStudied && customColor">
    <span
      :style="this.lastStudied && customColor"
      class="m-2 pl-2"
      style="font-size: 2.2vh; font-weight: bold; height: 30px"
    >
      {{ data.title }}
    </span>
    <div
      class="headers-content"
      :style="this.lastStudied && customColor"
    >
      <div v-if="data.totalBab">
        <i class="fa fa-book"></i>
        <span>{{ data.bab }}</span>
        <span
          class="textContent"
          :style="this.lastStudied && customColor"
        >
          / {{ data.totalBab }} Bab
        </span>
      </div>
      <div v-if="data.totalSubBab">
        <i class="fa fa-book"></i>
        <span>{{ data.subBab }}</span>
        <span
          class="textContent"
          :style="this.lastStudied && customColor"
        >
          / {{ data.totalSubBab }} Sub-Bab
        </span>
      </div>
      <div v-if="data.totalKuis">
        <i class="fa fa-book"></i>
        <span>{{ data.kuis }}</span>
        <span
          class="textContent"
          :style="this.lastStudied && customColor"
        >
          / {{ data.totalKuis }} Kuis
        </span>
      </div>
      <div v-if="data.totalJam">
        <i class="fa fa-clock-o"></i>
        <span>{{ data.jam }}</span>
        <span
          class="textContent"
          :style="this.lastStudied && customColor"
        >
          / {{ data.totalJam }} Jam
        </span>
      </div>
      <div v-if="data.level">
        <i class="fa fa-address-book"></i>
        <span
          class="textContent"
          :style="this.lastStudied && customColor"
          >{{ data.level }} Level
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.headers-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em;
  width: 80%;
  align-self: center;
  font-size: 2vh;
  color: #979797;
  white-space: nowrap;
  overflow: hidden;
}
.headers-content > div > i {
  margin-right: 1vh;
}
.textContent {
  color: #263238;
  font-weight: 600;
}
</style>
