
<script>
export default {
  props: {
    datas: Array,
    lastStudied: Boolean,
    linked: String
  },
  created() {
    console.log('this.linked', this.linked)
  },
  methods: {
    onItemClick(data) {
      if (this.linked && data.status !== "todo") {
        this.$router.push({
          name: this.linked,
          params: { id: data.id, title: data.title },
        });
      }
    },
  },
  computed: {
    circleDone() {
      return {
        backgroundColor: this.lastStudied ? "#5EDFFF" : "#0078D7",
        border: this.lastStudied ? "1px solid #5EDFFF" : "1px solid #0078D7",
        color: "#fff",
        fontSize: "2.5vh",
      };
    },
    circleInprogress() {
      return {
        backgroundColor: "#fff",
        border: this.lastStudied ? "1px solid #5EDFFF" : "1px solid #0078D7",
        color: this.lastStudied ? "#5EDFFF" : "#0078D7",
        fontSize: "2.5vh",
      };
    },
    lineDone() {
      return {
        backgroundColor: this.lastStudied ? "#5EDFFF" : "#0078D7",
        outline: this.lastStudied
          ? "0.2vh solid #5EDFFF"
          : "0.2vh solid #0078d7",
      };
    },
    customNameDone() {
      return {
        color: this.lastStudied ? "#5EDFFF" : "#0078D7",
      };
    },
    customNameInprogress() {
      return {
        color: this.lastStudied ? "#5EDFFF" : "#0078D7",
      };
    },
    customTimelineTitle() {
      return {
        color: this.lastStudied ? "#fff" : "#979797",
      };
    },
    customLineWidth() {
      return {
        minWidth: "11vh",
      };
    },
  },
};
</script>

<template>
  <div class="timelineContainer">
    <div
      class="timelineBody"
      v-for="(item, index) in datas"
      v-bind:key="item.id"
    >
      <div
        @click="onItemClick(item)"
        :style="[
          item.status === 'done'
            ? circleDone
            : item.status === 'inprogress'
            ? circleInprogress
            : '',
            linked && {cursor: 'pointer'}
        ]"
        class="circle rounded-circle"
      >
        <span>{{ item.id }}</span>
        <div
          class="timelineTitle"
          :style="[
            customTimelineTitle,
            datas.length > 5 && { maxWidth: '15vh', fontSize: '1.5vh' },
          ]"
        >
          <span
            :style="[
              item.status === 'done'
                ? customNameDone
                : item.status === 'inprogress'
                ? customNameInprogress
                : '',
            ]"
            >{{ item.name }}</span
          >
        </div>
      </div>
      <div
        :class="['line', index === datas.length - 1 ? 'd-none' : 'd-flex']"
        :style="[
          item.status === 'done' && lineDone,
          datas.length > 5 && { minWidth: '11vh' },
        ]"
      ></div>
    </div>
  </div>
</template>

<style lang="scss">
.timelineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.timelineBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.timelineTitle {
  max-width: 25vh;
  text-align: center;
  position: absolute;
  bottom: 8.5vh;
  color: #979797;
  font-weight: normal;
  font-size: 2.5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line {
  background: #f0f0f0;
  outline: 0.2vh solid #f0f0f0;
  min-width: 17vh;
  height: 1.5vh;
}
.circle {
  width: 5vh;
  height: 5vh;
  color: #fff;
  font-weight: bold;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.circle > span {
  font-size: 2.5vh;
}
</style>
