
<script>
import TopNavbar from "./TopNavbar.vue";
import DashboardContent from "./Content.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
  },
  data: () => ({
    styleObject: {
      background: "#fff",
    },
  }),
  created() {
    console.log("asd", this.$router.currentRoute.fullPath);
  },
  methods: {
    isActive(route) {
      this.$router.push(`/${route}`).catch(() => {});
    },
  },
};
</script>

<template>
  <div class="container-fluid m-0">
    <top-navbar></top-navbar>
    <div class="row view">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 left-content">
        <div class="card d-flex flex-column p-4">
          <div class="row-centered">
            <img class="ava" src="img/Avatar.png" alt="ava" />
            <span class="ava-name">Marcuss Kotlin</span>
          </div>
          <div class="divider w-100 mt-3" />

          <div class="row-centered justify-content-between mt-3">
            <div class="row-centered">
              <img class="icon" src="img/icons/level.png" alt="icon" />
              <span class="ml-2">Level</span>
            </div>
            <span>1</span>
          </div>

          <div class="row-centered justify-content-between mt-3">
            <div class="row-centered">
              <img class="icon" src="img/icons/coin.png" alt="icon" />
              <span class="ml-2">Coin</span>
            </div>
            <span>350</span>
          </div>

          <div class="row-centered justify-content-between mt-3">
            <div class="row-centered">
              <img class="icon" src="img/icons/xp.png" alt="icon" />
              <span class="ml-2">Total Experience</span>
            </div>
            <span>1</span>
          </div>
          <span class="mt-3 ml-1 text-12" style="margin-bottom: -5px">XP</span>
          <div class="progress mt-2" style="height: 8px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%; background-color: #5d5fef"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <span class="align-self-center text-12"
            >200 XP lagi untuk naik level</span
          >
        </div>
        <div class="card d-flex flex-column">
          <div tabindex="0" @click="isActive('leaderboards')" class="side-items">
            <div class="row-centered">
              <img class="icon" src="img/icons/leaderboards.png" alt="icon" />
              <span class="ml-2">Leaderboards</span>
            </div>
          </div>

          <div tabindex="1" @click="isActive('catatan-saya')" class="side-items">
            <div class="row-centered">
              <img class="icon" src="img/icons/pencil.png" alt="icon" />
              <span class="ml-2">Catatan Saya</span>
            </div>
          </div>

          <div tabindex="1" @click="isActive('lihat-download')" class="side-items">
            <div class="row-centered">
              <img class="icon" src="img/icons/folder.png" alt="icon" />
              <span class="ml-2">Lihat Download</span>
            </div>
          </div>

          <div tabindex="1" @click="isActive('lihat-screenshoot')" class="side-items">
            <div class="row-centered">
              <img class="icon" src="img/icons/camera.png" alt="icon" />
              <span class="ml-2">Lihat Screenshot</span>
            </div>
          </div>

          <div tabindex="1" @click="isActive('laporan-belajar')" class="side-items">
            <div class="row-centered">
              <img class="icon" src="img/icons/file.png" alt="icon" />
              <span class="ml-2">Laporan Belajar</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 right-content" style="overflow-y: scroll; height: 80vh">
        <dashboard-content></dashboard-content>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
body {
  background: #fff;
  height: 100vh;
}

.view {
  background: #e5e5e5;
  min-height: 90vh;
}
.left-content {
  width: 100%;
  padding: 3em 5em 3em 5em;
}
.right-content {
  width: 100%;
  padding: 0px 5em 3em 5em;
  margin-top: 3em;
}
.ava {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  margin-right: 20px;
}
.ava-name {
  font-size: 22px;
  font-weight: normal;
  color: #081f32;
  white-space: nowrap;
  overflow: hidden;
}

.side-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1.5em 0.5em 1.5em;
  cursor: pointer;
}

.side-items:focus-within {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1.5em 0.5em 1.5em;
  cursor: pointer;
  background: #F0F0F0;
}

.row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-12 {
  font-size: 12px;
  font-weight: normal;
}

.card-items {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #fff;
}

.img-items {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.content-items {
  width: 100%;
  height: 45%;
  padding: 1em 1.5em 1em 1.5em;
  display: flex;
  flex-direction: column;
}

.content-title {
  color: #081f32;
  font-weight: normal;
  font-size: 24px;
}

.content-bab {
  color: #263238;
  font-weight: bold;
  font-size: 16px;
}
</style>
