
<script>
export default {
  computed: {
    routeName() {
      const { name } = this.$route;
      return this.capitalizeFirstLetter(name);
    },
  },
  data() {
    return {
      activeNotifications: false,
      isOpen: false,
    };
  },
  methods: {
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    toggleNotificationDropDown() {
      this.activeNotifications = !this.activeNotifications;
    },
    closeDropDown() {
      this.activeNotifications = false;
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },
    toggleDropDown() {
      console.log("masuk", this.isOpen);
      this.isOpen = !this.isOpen;
      this.$emit("change", this.isOpen);
    },
    closeDropDown() {
      this.isOpen = false;
      this.$emit("change", this.isOpen);
    },
    logout() {
      localStorage.setItem("sessionToken", '');
      this.$router.push({ path: "/login" });
    },
  },
};
</script>

<template>
  <nav class="navbar navbar-expand" style="border: none; height: 10vh">
    <div class="container-fluid">
      <img
        src="img/logo79-blue.png"
        style="width: 10vw; margin-left: 2em"
        alt="ava"
      />

      <div class="justify-content-end pr-5">
        <i class="fa fa-bell fa-2x" style="color: #dadada"></i>

        <i
          @click="logout()"
          class="fa fa-user-circle fa-2x ml-5"
          style="color: #dadada; cursor: pointer"
        ></i>
      </div>
      <!-- <div class="d-flex flex-row justify-content-end align-items-center pr-5">
        <i class="fa fa-bell fa-2x" style="color: #dadada"></i>
        <div
          class="dropdown nav-item"
          style="cursor: pointer"
          :class="{ show: this.isOpen }"
          @click="toggleDropDown"
          v-click-outside="closeDropDown"
        >
          <i
            class="fa fa-user-circle fa-2x ml-5"
            style="color: #dadada"
            data-toggle="dropdown"
          ></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </div>
      </div> -->
      <!-- <a class="navbar-brand" href="#">Dashboard</a>
      <button type="button"
              class="navbar-toggler navbar-toggler-right"
              :class="{toggled: $sidebar.showSidebar}"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
              @click="toggleSidebar">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="dropdown">
              <i class="nc-icon nc-palette"></i>
            </a>
          </li>
          <base-dropdown tag="li">
            <template slot="title">
              <i class="nc-icon nc-planet"></i>
              <b class="caret"></b>
              <span class="notification">5</span>
            </template>
            <a class="dropdown-item" href="#">Notification 1</a>
            <a class="dropdown-item" href="#">Notification 2</a>
            <a class="dropdown-item" href="#">Notification 3</a>
            <a class="dropdown-item" href="#">Notification 4</a>
            <a class="dropdown-item" href="#">Another notification</a>
          </base-dropdown>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nc-icon nc-zoom-split"></i>
              <span class="d-lg-block">&nbsp;Search</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Account
            </a>
          </li>
          <base-dropdown title="Dropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something</a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </base-dropdown>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Log out
            </a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
</template>

<style>
.dropdown-menu {
  /* width: 200px ; */
  min-width: 100px;
  max-width: 350px;
}

.dropdown-item:hover {
  border-radius: 10px;
}
</style>
